# Ignore virtual environments
env/
venv/

# Ignore Python cache
*.pyc
__pycache__/

# Ignore IDE settings
.idea/
.vscode/

# Ignore logs
*.log

# Ignore system files
.DS_Store

# Ignore Git files
.git
.gitignore
